@import './Vars.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: $bg-app;
}

#my-app {
    width: 80vw;
    background-color: $bg-app;

    .title-app {
        padding-top: 40px;
        font-family: sans-serif;
        color: $title-app-color;
        text-align: center;
    }

    .create-note-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .create-note {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            width: 30vw;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);

            button {
                cursor: pointer;
            }

            .saveNote {
                background-color: white;
                color: $outline-inputs;
                box-shadow: inset 0 0 1px 0 $outline-inputs;

                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: $outline-inputs;
                }
            }

            button,
            input[type="text"],
            textarea {
                padding: 8px;
                margin: 5px;
                border: none;
                border-radius: 15px;
            }

            input[type="text"],
            textarea {
                font-family: sans-serif;
                font-size: 12px;
                font-weight: bold;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);

                &:focus {
                    background-color: rgba($color: $outline-inputs, $alpha: 0.1);
                    outline: 2px solid $outline-inputs;
                }
            }

            textarea {
                min-height: 28px;
                resize: vertical;
                height: fit-content;
            }

            .colors-options {
                position: relative;
                display: flex;
                width: 100%;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                padding: 10px 0;

                button {
                    width: 14px;
                    height: 14px;
                    border-radius: 100%;
                }

                .selected {
                    outline: 2px solid $outline-inputs;
                    outline-offset: 1px;
                }
            }
        }
    }

    .notes-muro {
        $gap: 10px;
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        gap: $gap;
        padding: 40px 0;

        .loading-notes {
            font-size: 12px;
            font-family: sans-serif;
            color: indigo;
            background-color: lavender;
            padding: 10px 20px;

            svg {
                animation: rotateLoader 0.4s infinity;
            }
        }

        .empty {
            font-size: 12px;
            font-family: sans-serif;
            color: indigo;
        }

        .one-column {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            gap: $gap;

            .note {
                flex: 1 1;
            }
        }

        .column-full {
            position: relative;
            display: flex;
            width: calc(33.33% - $gap / 2);
            flex-flow: column nowrap;
            row-gap: $gap;

            .note {
                width: 100%;
            }
        }
    }

    footer {
        padding: 30px 0;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        color: $footer-color;
    }

    .notification-section {
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        gap: 10px;
        bottom: 50px;
        right: 60px;
        width: 120px;
        height: 0px;

        .log {
            background-color: lavender;
            color: indigo;
            box-shadow: inset 0 0 1px 0 indigo;
        }

        .err {
            background-color: lightpink;
            color: firebrick;
            box-shadow: inset 0 0 1px 0 firebrick;
        }

        div {
            padding: 8px;
            font-size: 12px;
            font-family: sans-serif;
            text-align: center;
            border-radius: 4px;
        }
    }
}